/* Blocks (Page Builder) */
.jh-page-builder-field .k-blocks:not([data-empty=true],[data-disabled=true]){
    background: none;
    box-shadow: none;
}

.jh-page-builder-field .k-blocks-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.jh-page-builder-field .k-block-container{
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: var(--shadow);
}

.jh-page-builder-field .k-block-container:not(:last-of-type){
    border-bottom: none;
}

.jh-page-builder-field .k-block-container:is(.k-sortable-ghost, .k-sortable-fallback) .k-block {
    max-height: 82px;
}

.jh-page-builder-field .k-block{
    flex-grow: 1;
}

.jh-page-builder-field .k-block-title{
    flex-wrap: wrap;
    gap: 0 var(--spacing-4);
    min-height: 82px;
    padding: 1.25rem 1rem;
}

.jh-page-builder-field .k-block-name{
    font-weight: var(--font-semi);
    user-select: none;
}

.jh-page-builder-field .k-block-label{
    width: 100%;
    padding-left: calc(var(--icon-size) + var(--spacing-4));
    user-select: none;
    font-size: var(--text-sm);
    white-space: normal;
}


/* Blocks (Page Builder WYSIWYG) */
.jh-page-builder-field-wysiwyg .k-block-type-default .k-block-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 118px;
    padding:  1.5rem 0.75rem;
    background: var(--color-background);
    border-radius: var(--rounded-sm);
    text-align: center;
}

.jh-page-builder-field-wysiwyg .k-block-type-default .k-block-name{
    width: 100%;
    font-weight: var(--font-semi);
    user-select: none;
    margin-right: 0;
}

.jh-page-builder-field-wysiwyg .k-block-type-default .k-block-label{
    width: 100%;
    font-size: var(--text-sm);
    white-space: normal;
    user-select: none;
}


/* Hide header buttons in block library */
.k-page-view[data-template="nested-blocks"] .k-header-buttons{
    display: none;
}
